#Semua file dan folder yang ingin diabaikan di Python

Python/DLLs/
Python/Doc/
Python/include/
Python/Lib/
Python/libs/
Python/Scripts/
Python/share/
Python/tcl/
Python/vcruntime*.dll
Python/python*.dll
Python/pythonw.exe
Python/python.exe

# Abaikan file hasil analisis, build, dan sementara
*.csv
*.png
__pycache__/
*.pyc
*.pyo


PHP/